.dashboard{

padding:30px;

}


.card{

background:white;

margin:15px;

padding:20px;

border-radius:15px;

box-shadow:
0 5px 15px #ddd;

}


nav{

display:flex;

justify-content:space-between;

padding:20px;

background:white;

}