.form{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

}


form{

background:white;

padding:30px;

border-radius:15px;

display:flex;

flex-direction:column;

width:300px;

}